<h1>Epicodus Grocery</h1>

<p>Product List</p>

<% @products.each() do |product| %>
  <table class="table table-bordered">
    <tr class="active">
      <th> Product Name </th>
  	  <th> Product Price </th>
  	  <th> Add </th>
    </tr>
    <tr>
  	  <td> <%= product.product_name() %> </td>
  	  <td> $<%= product.product_price() %> </td>
  	  <td> <button type="submit" class="btn btn-info">Add</button> </td>
    </tr>
 </table>
<% end %>

<a class="btn btn-info" href="/manager" role="button">Manager</a>