<h1>Epicodus Grocery</h1>

<p>Product List</p>


<table class="table table-bordered" id="table_id">
  <thead>
    <tr class="active">
      <th> Product Name </th>
      <th> Product Price </th>
      <th> Category </th>
      <th> Add </th>
    </tr>
  </thead>
  <tbody>
    <% @products.each() do |product| %>
      <tr>
        <td> <%= product.product_name() %> </td>
        <td> $<%= product.product_price() %> </td>
        <td> <%= product.category.name() %> </td>
        <td> <button type="submit" class="btn btn-info">Add</button> </td>
      </tr>
    <% end %>
  </tbody>
</table>


<a class="btn btn-info" href="/manager" role="button">Manager</a>
