<h1>Add Product</h1>

<form action='/manager' method='post'>
  <label for='product_name'>Product Name</label>
  <input id='product_name' name='product_name' type='text'>
  <label for='product_price'>Product Price</label>
  <input id='product_price' name='product_price' type='text'>
  <button type="submit" class="btn btn-success">Add Product</button>
</form>
<br>
<% @products.each() do |product| %>
  <table class="table table-bordered">
    <tr class="active">
  	  <th> Product Name </th>
  		<th> Product Price </th>
  		<th> Edit / Delete </th>
  	</tr>
  	<tr>
  		<td> <%= product.product_name() %> </td>
  		<td> $<%= product.product_price() %> </td>
  		<td> <form method="post" action="/manager/<%= product.id() %>">
            <input name="_method" type="hidden" value="delete">
            <button type="submit" class="btn btn-danger">Delete Item!</button>
            </form></td>
  	</tr>
  </table>
<% end %>

<a class="btn btn-info" href="/" role="button">View Store</a>